<html>
  <head>
    <title>Top 3 Smash Ultimate Characters</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div>
        <a href="index.html" class="button">Home</a>
        <a href="pokemon_trainer.html" class="button">Pokemon Trainer</a>
        <a href="pichu.html" class="button">Pichu</a>
        <a href="bowser.html" class="button">Bowser</a>
    </div>
    <div>
        <h1 class="center_text">Definitive List of Top 3 Smash Ultimate Characters</h1>
        <h4 class="center_text"> (Not clickbait!)</h4>
    </div>
    <div>
        <p>Hello folks. Whether you like it or not, this website will tell you the absolute best three characters in smash ultimate.</p>
        <p>If you disagree, sorry, I don't make the rules.</p>
    </div>
    <div>
        <table class="table">
            <tr>
                <th>Pokemon Trainer</th>
                <th>Pichu</th>
                <th>Bowser</th>
            </tr>
        </table>
    </div>
    <div>
        <p>The ranking, from best to third best, goes as follows:</p>
        <ol>
            <li><strong>Pokemon Trainer</strong></li>
            <li><strong>Pichu</strong></li>
            <li><strong>Bowser</strong></li>
        </ol>
    </div>

  </body>
</html>