<html>
  <head>
    <title>Pichu</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div>
        <a href="index.html" class="button">Home</a>
        <a href="pokemon_trainer.html" class="button">Pokemon Trainer</a>
        <a href="pichu.html" class="button">Pichu</a>
        <a href="bowser.html" class="button">Bowser</a>
    </div>
    <div>
        <h1 class="center_text">Pichu</h1>
        <h5 class="center_text">the little mouse that could</h5>
        <a href="https://www.ssbwiki.com/Pichu_(SSBU)">
            <img src="https://www.ssbwiki.com/images/thumb/c/c1/Pichu_SSBU.png/1200px-Pichu_SSBU.png" alt="pichu" class="center_image" width="30%" height="50%">
        </a>
    </div>
  </body>
</html>